	<p>{l s='Your order on' mod='viabillepay'} <span class="bold">{$shop_name}</span> {l s='is complete.' mod='viabillepay'} 
	{if $postfix}
		<br /><br />
		{l s='The transaction was made with card' mod='viabillepay'} <b>XXXX XXXX XXXX {$postfix}</b>
	{/if}
		<br /><br />
	</p>

