<style>
.viabill-pricetag-optional-styles{


}
.vb-low{
	line-height:45px !important;
}

.vb-payment-text{

	margin-top:8px;
}
</style>

<script type="text/javascript">{$vbpricetagsrc}</script>
<form action="https://ssl.ditonlinebetalingssystem.dk/integration/ewindow/Default.aspx" method="post" id="ViaBillPayForm">
	{foreach from=$parameters key=k item=v}
		{if ($k|replace:'viabill_epay_':'') == "windowstate"}
			<input type="hidden" name="windowstate" value="3">
		{else}
			<input type="hidden" name="{$k|replace:'viabill_epay_':''}" value="{$v}">
		{/if}
		


	{/foreach}
</form>
<div class="payment_module" style="border: 1px solid #d6d4d4; padding: 13px 0px 0px 99px;    position: relative; border-radius: 4px; height: 99px ! important;" >
	<div style="margin-top: 17px ! important;">
	<a title="{l s='Pay using ViaBill Epay' mod='viabillepay'}" href="javascript: ViaBillPayForm.submit();">
		
			
		<div>
					<div style="float:left"><img src="{$this_path_viabillepay}viabill.png" alt="{l s='Pay using Viabill ePay' mod='viabillepay'}" style="float:left; margin-right: 15px;margin-top: 6px" />
					</div>
					<div style="float:left" id="defaulttext">					
						<div style="line-height:29px" id="vbpricetag" class="viabill-pricetag" view="payment" price="{$pricetag}"> ViaBill køb nu - betal, når du vil </div>
					</div>
	    </div>




	</a>
</div>
</div> 
{if $showpricetag == 'TRUE'}
<script>

setTimeout(function(){

	var priceqp = {$pricetag};				
	if(vb.isLow(priceqp)  || vb.isHigh(priceqp)){		
			//$('#vbpricetag').addClass('viabill-pricetag');
	}
	else{			
		$('#defaulttext').html('<div style="line-height:29px" id="vbpricetag"> ViaBill køb nu - betal, når du vil </div>');
	}	
}, 1000);
</script>{/if}